@model Sales.WebUI.Models.UserViewModel

<h1>Authentication</h1>

<form asp-controller="User" asp-action="GenerateAndLogin" method="post">
    <button type="submit">GenerateAndLogin</button>
</form>

<form asp-controller="User" asp-action="Login" method="post">
    <input hidden asp-for="ReturnUrl"></input>
    <div>
        <label>Promocode</label>
        <input asp-for="Promocode" />
        <span asp-validation-for="Promocode"></span>
    </div>
    <p>
        <button type="submit">Login</button>
    </p>
</form>
